<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yongda.dao.LoanDao">
    <resultMap id="BaseResultMap" type="com.yongda.entities.Order">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryCreditLine" parameterType="String" resultMap="BaseResultMap">
        select * from orders where id=#{cert}
    </select>

</mapper>